* {
  margin: 0;
  padding: 0;
  }

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: rgb(59, 64, 77);
}
  
h1 {
  font-size: 40px;
  color: rgb(215, 236, 26);
  font-family: courier;
}

h2 {
  color: brown;
}


/* The main part of the code */
body {
  background-color: rgb(35, 32, 54);
  
 
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile {
  display: flex;
  gap: 100px;
  flex: 1 1;
}

button {
  font-size: 50px;
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  border-radius: 15px;
  align-self: center;
  border: none;

}

button:hover {
  background-color: brown;
  transition: 0.3s;
  transform: scale(1.1);
}

button:active {
  background-color: black;
  transform: scale(0.5);
  
}


#instructions {
  color: aliceblue;
  text-align: center;
  font-family: courier;
  margin: 50px;
}

#profile {
  color: aqua;
  margin: 0 50px 50px;
  display: flex;
  align-items: center;
 
}

#player, 
#computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 300px;
  height: auto;
}

#text {
  text-align: center;
  font-size: 50px;
}

#results {
  color: rgb(175, 153, 127);
  font-size: 50px;
  margin: 50px;
  width: 700px;
  height: 100px;
  text-align: center;
}

#center {
  display: flex;
  flex-direction: column;
}

#playAgain {
  font-size: 50px;
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
  border-radius: 15px;
  align-self: center;
  border: none; 

}



#clickable {
  width: auto;
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
  
}

#choice {
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
}
  

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 94);
  color: white;
  font-family: 'Roboto', arial;
  padding: 30px;
}