* {
  margin: 0;
  padding: 0;
  }

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: rgb(59, 64, 77);
}
  
h1 {
  font-size: 40px;
  color: rgb(215, 236, 26);
  font-family: courier;
}

h2 {
  color: brown;
}


/* The main part of the code */
body {
  background-color: rgb(35, 32, 54);
  margin-bottom: 100px;
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile {
  display: flex;
  gap: 100px;
}

button {
  font-size: 50px;
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  border-radius: 15px;
  align-self: center;
}

#clickable {
  width: auto;
  display: flex;
  align-items: center;
  gap: 100px;
}

#instructions {
  color: aliceblue;
  text-align: center;
  font-family: courier;
  margin: 100px;
}

#profile {
  color: aqua;
  margin: 0 100px 100px;
  display: flex;
  align-items: center;
 
}

#player, 
#computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 300px;
  height: auto;
}

#text {
  text-align: center;
}

#results {
  color: bisque;
  font-size: 50px;
}

#choice {
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
}
  